* {
  scroll-behavior: smooth;
}
body {
  background: #f5d9d5;
  font-family: "Nunito", sans-serif;
}

.blurb h2 {
  color: #ea1c2f;
  font-weight: 101;
  font-size: 2.5rem;
}

.blurb p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 101px;
  margin-bottom: 100px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
  font-size: 1.5rem;
}

#headingGroup span {
  color: #ea1c2c;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}
#ok:hover {
  box-shadow: -1px 2px 23px -7px rgba(0, 0, 0, 0.75);
  transition: 500ms;
}

.navbar.scrolled {
  background: rgb(222, 192, 222);
  transition: background 500ms;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }
  .blurb h2 {
    font-size: 2rem;
  }
}


.zoom {

  
  transition: transform .2s; /* Animation */
 
 
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
